/* ***** Whole page styles *****  */
body {
  background-image: url("../img/background.png");
}

#heading {
  background-color: black;
}

#outer {
  width: 460px;
  height: 460px;
  background-color: black;
  position: fixed;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#container {
  background-color: black;
  width: 400px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* ***** In-game styles ***** */
.sprite {
  width: 32px;
  height: 32px;
  position: absolute;
}
/* 0 */
.brick { 
  background-color: blue;
}

/* 1 */
.coin {
  background-image: url('../img/coin.png');
  background-size: cover;
}

.cherry {
  background-image: url('../img/cherries.gif');
  background-size: cover;
}

.faceup {
  -ms-transform: rotate(270deg); /* IE 9 */
  -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
  transform: rotate(270deg);
}

.faceleft {
  -ms-transform: scaleX(-1); /* IE 9 */
  -webkit-transform: scaleX(-1); /* Chrome, Safari, Opera */
  transform: scaleX(-1);
}

.facedown {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
}

.ghost {
  background-image: url('../img/ghost.gif');
  background-size: cover; 
}

.redghost {
  background-image: url('../img/redghost.gif');
  background-size: cover; 
}

.pacman {
  background-image: url('../img/pacman.gif');
  background-size: cover;
}

.mspacman {
  background-image: url('../img/mspacman.png');
  background-size: cover;
  width: 27px;
}

.score {
	color: white;
	top: 0px;
	left: 320px;
	position: absolute;
}

.countdown {
	color: white;
	top: 320px;
	left: 0px;
	position: absolute;
	font-size: 250%;
}

#mute {
  color: white;
  top: 370px;
  left: 0px;
  position: absolute;
  font-size: 200%;
  cursor: pointer;

}

.transition {
  color: white;
	top: 60px;
	position: absolute;
	font-weight: bold;
	font-size: 250%;
  text-align: center;
  width: 400px;
  height: 300px;
}

#world {
  color: white;
}

/* ***** Custom level Builder styles ***** */

.world_border {
  position: absolute;
  width: 340px;
  height: 340px;
  border: 5px dotted white;
  left: -10px;
  top: -10px;
}

.editable {
  z-index: 6;
}

.editable:hover {
  border: 3px solid yellow;
}

.editable:focus {
  border: 3px solid orange;
  outline: 0px solid orange;
}

.levelbuilderinfo {
  position: absolute;
  left: 340px;
  width: 80px;
  font-size: 91%;
}

#levelbuilderextrainfo {
  position: absolute;
  left: 340px;
  top: 326px;
  width: 80px;
}

.pacman_icon {
  text-align: center;
  width: 80px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 340px;
  left: 10px;
  cursor: pointer;
}

