#container{
      background-color: black;
      width: 400px;
      height: 400px;
      position: relative;
    }
/* 0 */
    .brick{ 
      background-color: blue;
      width: 32px;
      height: 32px;
      position: absolute;
      /*display: inline-block;*/
    }
/* 1 */
    .coin{
      background-image: url('coin.png');
      background-size: cover;
      width: 32px;
      height: 32px;
      position: absolute;
      /*display: inline-block;*/}
     
     .cherry{
      background-image: url('cherries.gif');
      background-size: cover;
      width: 32px;
      height: 32px;
      position: absolute;
      /*display: inline-block;*/  
    }
	.ghost{
	  background-image: url('ghost.gif');
      background-size: cover;
      width: 32px;
      height: 32px;
      position: absolute;
    }
    
      .ghostleft{
      background-image: url('ghost.gif');
      background-size: cover;
      width: 32px;
      height: 32px;
      position: absolute;
      -ms-transform: scaleX(-1); /* IE 9 */
      -webkit-transform: scaleX(-1); /* Chrome, Safari, Opera */
      transform: scaleX(-1);	
    	
    }
    
    .redghost{
      background-image: url('redghost.gif');
      background-size: cover;
      width: 32px;
      height: 32px;
      position: absolute;
    	
    	
    }
        .redghostleft{
      background-image: url('redghost.gif');
      background-size: cover;
      width: 32px;
      height: 32px;
      position: absolute;
      -ms-transform: scaleX(-1); /* IE 9 */
      -webkit-transform: scaleX(-1); /* Chrome, Safari, Opera */
      transform: scaleX(-1);	
    }
      .pacman{
      background-image: url('pacman.gif');
      background-size: cover;
      width: 32px;
      height: 32px;
      position: absolute;
    
      /*display: inline-block;*/
    }
      .pacmanleft{
      background-image: url('pacman.gif');
      background-size: cover;
      width: 32px;
      height: 32px;
      position: absolute;
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
      /*display: inline-block;*/
    }
     .pacmanup{
      background-image: url('pacman.gif');
      background-size: cover;
      width: 32px;
      height: 32px;
      position: absolute;
      -ms-transform: rotate(270deg); /* IE 9 */
      -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
      transform: rotate(270deg);
      /*display: inline-block;*/
    }
     .pacmandown{
      background-image: url('pacman.gif');
      background-size: cover;
      width: 32px;
      height: 32px;
      position: absolute;
      -ms-transform: rotate(90deg); /* IE 9 */
      -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
      transform: rotate(90deg);
      /*display: inline-block;*/
   
    }
    .score{
   		color: white;
    	top: 0px;
    	left: 320px;
    	position: absolute;
    	
    }
        .countdown{
   		color: white;
    	top: 320px;
    	left: 0px;
    	position: absolute;
    	font-size: 250%;
    	
    }
    .death{
        color: white;
    	top: 100px;
    	left: 100px;
    	position: absolute;
    	fontweight: bold;
    	font-size: 250%;
    		
    	}
    
    
/* 2 */
    .blank{
      width: 32px;
      height: 32px;
      position: absolute;
      /*display: inline-block;*/
    }